flows.json
[
    {
        "id": "46b8d6a8be0dfa75",
        "type": "tab",
        "label": "Screening Reactor Data",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8e73aaf17ab12ebe",
        "type": "debug",
        "z": "46b8d6a8be0dfa75",
        "name": "",
        "active": false,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 290,
        "y": 80,
        "wires": []
    },
    {
        "id": "3b0f2b940c98e033",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "lifeCounter",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Controller.lifeCounter",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "INT",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "Controller.lifeCounter",
        "x": 80,
        "y": 100,
        "wires": [
            [
                "8e73aaf17ab12ebe",
                "04c993ddc4f4ed23",
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "7c574ffd2ce15207",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "temp TE-113",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.aiReactorTempTE_113.value",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "aiReactorTempTE_113.value",
        "x": 90,
        "y": 200,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "efedb13fa713cfde",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "TE-114 temp",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.aiReactorTempTE_114.value",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "aiReactorTempTE_114.value",
        "x": 90,
        "y": 240,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "c08467c97684fe0d",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "TE-115 temp",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.aiReactorTempTE_115.value",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "aiReactorTempTE_115.value",
        "x": 90,
        "y": 280,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "babae6972c7c9126",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "CO2 Sensor",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.aiCO2.value",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "aiCO2.value",
        "x": 90,
        "y": 320,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "7e4f19b520a5c7f9",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "H2O Sensor",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.aiH2O.value",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "aiH2O.value",
        "x": 90,
        "y": 360,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "df4963162c71c86e",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "heatRamp.out",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.heatRamp.out",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "heatRamp.out",
        "x": 90,
        "y": 400,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "12a55b43781dc42f",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "heater.tempSetC",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.heater.tempSetC",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "heater.tempSetC",
        "x": 100,
        "y": 440,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "c3237ad3133e4ff9",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "XV-111 Valve",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.svRxrAirIn.dqState1.dqOut.value",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "BOOL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "ONCHANGE",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "XV-111",
        "x": 90,
        "y": 520,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "6024b15b37626b76",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "XV-112 Valve",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.svRxrNitrogenIn.dqState1.dqOut.value",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "BOOL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "ONCHANGE",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "XV-112",
        "x": 90,
        "y": 560,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "10adf8e6ec4f0e85",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "XV-113 Valve",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.svDryNitrogenAirBypass.dqState2.dqOut.value",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "BOOL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "ONCHANGE",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "XV-113",
        "x": 90,
        "y": 600,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "939c473eb5702a68",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "XV-114 Valve",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.svHumidifiedNitrogenAirBypass.dqState1.dqOut.value",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "BOOL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "ONCHANGE",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "XV-114",
        "x": 90,
        "y": 640,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "87664f898ebad37d",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "XV-111 state",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.svRxrAirIn.state",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "INT",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "ONCHANGE",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "XV-111 state",
        "x": 90,
        "y": 680,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "df5dad4b92cd1071",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "XV-112 state",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.svRxrNitrogenIn.state",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "INT",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "ONCHANGE",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "XV-112 state",
        "x": 90,
        "y": 720,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "8f677a93593bd818",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "XV-113 state",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.svDryNitrogenAirBypass.state",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "INT",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "ONCHANGE",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "XV-113 state",
        "x": 90,
        "y": 760,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "2bd01f18144a50be",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "XV-114 state",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.svHumidifiedNitrogenAirBypass.state",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "INT",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "ONCHANGE",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "XV-114 state",
        "x": 90,
        "y": 800,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "4f082ab0c4291ffa",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "fbScreening.state",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.state",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "INT",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "ONCHANGE",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "fbScreening.state",
        "x": 100,
        "y": 840,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "dca6743b695ed99c",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "fbScreening.odTimeRemaining",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.odTimeRemaining",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "fbScreening.odTimeRemaining",
        "x": 150,
        "y": 880,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "b4eebbf13358c3f2",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "heatRamp.dest",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.heatRamp.dest",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "heatRamp.dest",
        "x": 100,
        "y": 480,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "4fb3c89a3b5e4acb",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "AlicatAir.status",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.fbAlicatSerial.allStatus[1].status",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "USINT",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "fbScreening.AlicatAir.status",
        "x": 100,
        "y": 920,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "108b4b758d20ceac",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "AlicatAir.pressure",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.fbAlicatSerial.allStatus[1].pressure",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "REAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "fbScreening.AlicatAir.pressure",
        "x": 100,
        "y": 960,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "61f218c13d91c0a5",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "AlicatAir.temp",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.fbAlicatSerial.allStatus[1].temp",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "REAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "fbScreening.AlicatAir.temp",
        "x": 90,
        "y": 1000,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "8d7fd2cc8032af34",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "AlicatAir.volFlow",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.fbAlicatSerial.allStatus[1].volFlow",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "REAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "fbScreening.AlicatAir.volFlow",
        "x": 100,
        "y": 1040,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "5828ab3863dd5f53",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "AlicatAir.massFlow",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.fbAlicatSerial.allStatus[1].massFlow",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "REAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "fbScreening.AlicatAir.massFlow",
        "x": 110,
        "y": 1080,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "18a9341b02dd4014",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "AlicatAir.massFlowSet",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.fbAlicatSerial.allStatus[1].massFlowSet",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "REAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "ONCHANGE",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "fbScreening.AlicatAir.massFlowSet",
        "x": 120,
        "y": 1120,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "f1b8be170d425ccd",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "AlicatNitrogen.status",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.fbAlicatSerial.allStatus[2].status",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "DWORD",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "fbScreening.AlicatNitrogen.status",
        "x": 110,
        "y": 1160,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "e0ffb520b160e6e4",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "AlicatNitrogen.pressure",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.fbAlicatSerial.allStatus[2].pressure",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "REAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "fbScreening.AlicatNitrogen.pressure",
        "x": 120,
        "y": 1200,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "752f18fd5727e46f",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "AlicatNitrogen.temp",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.fbAlicatSerial.allStatus[2].temp",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "REAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "fbScreening.AlicatNitrogen.temp",
        "x": 110,
        "y": 1240,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "8caa03a1fc90f013",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "AlicatNitrogen.volFlow",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.fbAlicatSerial.allStatus[2].volFlow",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "REAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "fbScreening.AlicatNitrogen.volFlow",
        "x": 120,
        "y": 1280,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "3117ae445e3a1f29",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "AlicatNitrogen.massFlow",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.fbAlicatSerial.allStatus[2].massFlow",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "REAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "fbScreening.AlicatNitrogen.massFlow",
        "x": 130,
        "y": 1320,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "54d39ea8d54808b9",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "AlicatNitrogen.massFlowSet",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.fbAlicatSerial.allStatus[2].massFlowSet",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "REAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "ONCHANGE",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "fbScreening.AlicatNitrogen.massFlowSet",
        "x": 140,
        "y": 1360,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "3848edd3db99e56b",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "AlicatNitrogen.gasType",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.fbAlicatSerial.allStatus[2].gasType",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "USINT",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "fbScreening.AlicatNitrogen.gasType",
        "x": 120,
        "y": 1400,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "40c4989d1d20131d",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "AlicatAir.gasType",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.fbAlicatSerial.allStatus[1].gasType",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "USINT",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "fbScreening.AlicatAir.gasType",
        "x": 100,
        "y": 1440,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "60e3f5498f4bea8f",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "fbScreening.odMainState",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.odMainState",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "INT",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "ONCHANGE",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "fbScreening.odMainState",
        "x": 130,
        "y": 1480,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "5c7d154312398ee9",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "experimentNumber",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.experLastData.experimentNumber",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "UINT",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "60000",
        "cycleTime": "60000",
        "property": "payload",
        "topic": "experimentNumber",
        "x": 110,
        "y": 2340,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "cc9036e180f88555",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "cycleNumber",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.experLastData.cycleNumber",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "UINT",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "60000",
        "cycleTime": "60000",
        "property": "payload",
        "topic": "cycleNumber",
        "x": 90,
        "y": 2380,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "073b3c16b73adb46",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "blankNumber",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.experLastData.blankNumber",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "UINT",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "60000",
        "cycleTime": "60000",
        "property": "payload",
        "topic": "blankNumber",
        "x": 90,
        "y": 2420,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "9e8abd5eae33ab73",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "mass",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.experLastData.mass",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "60000",
        "cycleTime": "60000",
        "property": "payload",
        "topic": "mass",
        "x": 70,
        "y": 2460,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "4e8424c41aa24fb0",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "volume",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.experLastData.volume",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "60000",
        "cycleTime": "60000",
        "property": "payload",
        "topic": "volume",
        "x": 70,
        "y": 2500,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "20ac5202d1521cac",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "isBlank",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.experLastData.isBlank",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "BOOL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "60000",
        "cycleTime": "60000",
        "property": "payload",
        "topic": "isBlank",
        "x": 70,
        "y": 2540,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "b7fcdc5e920e30e5",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "description",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.experLastData.description",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "STRING",
        "varSize": "80",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "60000",
        "cycleTime": "60000",
        "property": "payload",
        "topic": "description",
        "x": 80,
        "y": 2580,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "c4251db28ded4817",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "experResult.experimentNumber",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.experResult.experimentNumber",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "UINT",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "ONCHANGE",
        "maxDelay": "429496",
        "cycleTime": "429496",
        "property": "payload",
        "topic": "experResult.experimentNumber",
        "x": 150,
        "y": 2620,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "7a80f4f89167107a",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "experResult.cycleNumber",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.experResult.cycleNumber",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "UINT",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "ONCHANGE",
        "maxDelay": "429496",
        "cycleTime": "429496",
        "property": "payload",
        "topic": "experResult.cycleNumber",
        "x": 130,
        "y": 2660,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "03920d33668bc127",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "experResult.blankNumber",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.experResult.blankNumber",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "UINT",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "ONCHANGE",
        "maxDelay": "429496",
        "cycleTime": "429496",
        "property": "payload",
        "topic": "experResult.blankNumber",
        "x": 130,
        "y": 2700,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "50c30fdf386ce798",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "experResult.mass",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.experResult.mass",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "ONCHANGE",
        "maxDelay": "429496",
        "cycleTime": "429496",
        "property": "payload",
        "topic": "experResult.mass",
        "x": 110,
        "y": 2740,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "ea65fe319e2022d7",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "experResult.volume",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.experResult.volume",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "ONCHANGE",
        "maxDelay": "429496",
        "cycleTime": "429496",
        "property": "payload",
        "topic": "experResult.volume",
        "x": 110,
        "y": 2780,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "8c66ae2c8c494c47",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "experResult.isBlank",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.experResult.isBlank",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "BOOL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "ONCHANGE",
        "maxDelay": "429496",
        "cycleTime": "429496",
        "property": "payload",
        "topic": "experResult.isBlank",
        "x": 110,
        "y": 2820,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "04489d3bee688f24",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "experResult.description",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.experResult.description",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "STRING",
        "varSize": "80",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "ONCHANGE",
        "maxDelay": "429496",
        "cycleTime": "429496",
        "property": "payload",
        "topic": "experResult.description",
        "x": 120,
        "y": 2860,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "adc125662c92b7e6",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "experResult.adsorbCO2",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.experResult.adsorbCO2",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "ONCHANGE",
        "maxDelay": "429496",
        "cycleTime": "429496",
        "property": "payload",
        "topic": "experResult.adsorbCO2",
        "x": 120,
        "y": 2940,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "08596fd66e32d35f",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "experResult.adsorbCO2out",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.experResult.adsorbCO2out",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "ONCHANGE",
        "maxDelay": "429496",
        "cycleTime": "429496",
        "property": "payload",
        "topic": "experResult.adsorbCO2out",
        "x": 130,
        "y": 2980,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "955dd1ca75dcb00f",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "experResult.desorbCO2out",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.experResult.desorbCO2out",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "ONCHANGE",
        "maxDelay": "429496",
        "cycleTime": "429496",
        "property": "payload",
        "topic": "experResult.desorbCO2out",
        "x": 130,
        "y": 3020,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "421c1aa4b5afe409",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "experResult.blankCO2out",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.experResult.blankCO2out",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "ONCHANGE",
        "maxDelay": "429496",
        "cycleTime": "429496",
        "property": "payload",
        "topic": "experResult.blankCO2out",
        "x": 130,
        "y": 3100,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "e1afdc9adbb28068",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "experResult.calibFlowCO2",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.experResult.calibFlowCO2",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "ONCHANGE",
        "maxDelay": "429496",
        "cycleTime": "429496",
        "property": "payload",
        "topic": "experResult.calibFlowCO2",
        "x": 130,
        "y": 2900,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "c27948b1f5b753ac",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "experResult.blankCO2offset",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.experResult.blankCO2offset",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "ONCHANGE",
        "maxDelay": "429496",
        "cycleTime": "429496",
        "property": "payload",
        "topic": "experResult.blankCO2offset",
        "x": 140,
        "y": 3060,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "08812231d6544de9",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "experResult.purgeCO2out",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.experResult.purgeCO2out",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "ONCHANGE",
        "maxDelay": "429496",
        "cycleTime": "429496",
        "property": "payload",
        "topic": "experResult.purgeCO2out",
        "x": 130,
        "y": 3140,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "6f2e82d32e14661c",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "experResult.adsorbTimeMins",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.experResult.adsorbTimeMins",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "ONCHANGE",
        "maxDelay": "429496",
        "cycleTime": "429496",
        "property": "payload",
        "topic": "experResult.adsorbTimeMins",
        "x": 140,
        "y": 3180,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "0d8e09d9f2cbdaad",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "experResult.desorbTimeMins",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.experResult.desorbTimeMins",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "ONCHANGE",
        "maxDelay": "429496",
        "cycleTime": "429496",
        "property": "payload",
        "topic": "experResult.desorbTimeMins",
        "x": 140,
        "y": 3220,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "1ce7930168910f05",
        "type": "ADS System",
        "z": "46b8d6a8be0dfa75",
        "name": "ScreeningReactorPLC",
        "datasource": "c9403085e49c4b86",
        "useInputMsg": false,
        "topic": "",
        "x": 140,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "04c993ddc4f4ed23",
        "type": "ADS Output",
        "z": "46b8d6a8be0dfa75",
        "name": "nodeRedLifeCounter",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Controller.nodeRedLifeCounter",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "INT",
        "outValue": "payload",
        "varSize": "",
        "timezone": "UNCHANGED",
        "topic": "Controller.lifeCounter",
        "x": 680,
        "y": 80,
        "wires": []
    },
    {
        "id": "48e6d439817b906a",
        "type": "join",
        "z": "46b8d6a8be0dfa75",
        "name": "SR1_Combined",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "0.5",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 900,
        "y": 1420,
        "wires": [
            [
                "06cc9e1bdefe7c99",
                "5773c63346cb97ab"
            ]
        ]
    },
    {
        "id": "06cc9e1bdefe7c99",
        "type": "influxdb out",
        "z": "46b8d6a8be0dfa75",
        "influxdb": "8f07fc748c879017",
        "name": "SR1 Influx23",
        "measurement": "ScreeningReactor1",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "Sustaera",
        "bucket": "DacLab",
        "x": 1110,
        "y": 1420,
        "wires": []
    },
    {
        "id": "ba52e571b6060366",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "nodeRedLifeCounter",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Controller.nodeRedLifeCounter",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "INT",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "Controller.nodeRedLifeCounter",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "403cd819fc532949"
            ]
        ]
    },
    {
        "id": "403cd819fc532949",
        "type": "debug",
        "z": "46b8d6a8be0dfa75",
        "name": "",
        "active": false,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 310,
        "y": 140,
        "wires": []
    },
    {
        "id": "5773c63346cb97ab",
        "type": "debug",
        "z": "46b8d6a8be0dfa75",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 1500,
        "wires": []
    },
    {
        "id": "0522599b86dd9461",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "heater.onPct",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.heater.onPct",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "heater.onPct",
        "x": 90,
        "y": 1520,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "ea8966480ec69188",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "htrModel.coef10",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.htrModel.coef1.v[0]",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "0",
        "varHighIndex": "2",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "2000",
        "property": "payload",
        "topic": "htrModel.coef10",
        "x": 1460,
        "y": 2020,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "e53f697fab86bcf5",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "htrModel.coef20",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.htrModel.coef2.v[0]",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "0",
        "varHighIndex": "3",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "2000",
        "property": "payload",
        "topic": "htrModel.coef20",
        "x": 1460,
        "y": 2140,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "f2182be25d350b05",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "htrModel.error1",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.htrModel.error1",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "htrModel.error1",
        "x": 1460,
        "y": 1860,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "01460b9687ced6a7",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "htrModel.error2",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.htrModel.error2",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "htrModel.error2",
        "x": 1460,
        "y": 1900,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "5e22072efa863f4f",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "processTempModel.error1",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.processTempModel.error1",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "processTempModel.error1",
        "x": 1490,
        "y": 1940,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "b1e452cac16d4740",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "processTempModel.error2",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.processTempModel.error2",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "processTempModel.error2",
        "x": 1490,
        "y": 1980,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "d7d23c28ecc50589",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "htrModel.coef11",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.htrModel.coef1.v[1]",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "0",
        "varHighIndex": "2",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "2000",
        "property": "payload",
        "topic": "htrModel.coef11",
        "x": 1460,
        "y": 2060,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "dae95db787c3e0bb",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "htrModel.coef12",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.htrModel.coef1.v[2]",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "0",
        "varHighIndex": "2",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "2000",
        "property": "payload",
        "topic": "htrModel.coef12",
        "x": 1460,
        "y": 2100,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "cfd55d01a0d822de",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "htrModel.coef21",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.htrModel.coef2.v[1]",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "0",
        "varHighIndex": "3",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "2000",
        "property": "payload",
        "topic": "htrModel.coef21",
        "x": 1460,
        "y": 2180,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "9227fc3d4f4f3b18",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "htrModel.coef22",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.htrModel.coef2.v[2]",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "0",
        "varHighIndex": "3",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "2000",
        "property": "payload",
        "topic": "htrModel.coef22",
        "x": 1460,
        "y": 2220,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "3d1f2b9b17960eba",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "htrModel.coef23",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.htrModel.coef2.v[3]",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "0",
        "varHighIndex": "3",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "2000",
        "property": "payload",
        "topic": "htrModel.coef23",
        "x": 1460,
        "y": 2260,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "a83a8e68ed2c182a",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "processTempModel.coef10",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.processTempModel.coef1.v[0]",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "0",
        "varHighIndex": "2",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "2000",
        "property": "payload",
        "topic": "processTempModel.coef10",
        "x": 1490,
        "y": 2300,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "19fb0d5f26af7d79",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "processTempModel.coef20",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.processTempModel.coef2.v[0]",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "0",
        "varHighIndex": "3",
        "isArray": true,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "2000",
        "property": "payload",
        "topic": "processTempModel.coef20",
        "x": 1490,
        "y": 2420,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "8d81de3af72f0faa",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "processTempModel.coef11",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.processTempModel.coef1.v[1]",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "0",
        "varHighIndex": "2",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "2000",
        "property": "payload",
        "topic": "processTempModel.coef11",
        "x": 1490,
        "y": 2340,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "1578ba4ddecfb9d2",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "processTempModel.coef12",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.processTempModel.coef1.v[2]",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "0",
        "varHighIndex": "2",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "2000",
        "property": "payload",
        "topic": "processTempModel.coef12",
        "x": 1490,
        "y": 2380,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "1b6f07e7f279896b",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "processTempModel.coef21",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.processTempModel.coef2.v[1]",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "0",
        "varHighIndex": "3",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "2000",
        "property": "payload",
        "topic": "processTempModel.coef21",
        "x": 1490,
        "y": 2460,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "3f194760dbe83775",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "processTempModel.coef22",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.processTempModel.coef2.v[2]",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "0",
        "varHighIndex": "3",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "2000",
        "property": "payload",
        "topic": "processTempModel.coef22",
        "x": 1490,
        "y": 2500,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "2fb512c991fdcb2b",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "processTempModel.coef23",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.processTempModel.coef2.v[3]",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "0",
        "varHighIndex": "3",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "2000",
        "property": "payload",
        "topic": "processTempModel.coef23",
        "x": 1490,
        "y": 2540,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "7986e04891174c2e",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "licor.CO2",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.licor.CO2",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "licor.CO2",
        "x": 80,
        "y": 2140,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "c2deb42b30f7538d",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "licor.H2O",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.licor.H2O",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "licor.H2O",
        "x": 80,
        "y": 2180,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "31452575a80f2b90",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "licor.pressure",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.licor.pressure",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "licor.pressure",
        "x": 90,
        "y": 2220,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "5b4585b2f3f4e669",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "licor.flowrate",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.licor.flowrate",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "licor.flowrate",
        "x": 90,
        "y": 2260,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "9e906e7b3282e4ee",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "cycleCount",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.cycleCount",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "INT",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "cycleCount",
        "x": 80,
        "y": 2300,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "7ad53c7e7cfb87ef",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "AlicatHumidAir.status",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.fbAlicatSerial.allStatus[3].status",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "USINT",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "fbScreening.AlicatHumidAir.status",
        "x": 120,
        "y": 1580,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "505192fdfb652c11",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "AlicatHumidAir.pressure",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.fbAlicatSerial.allStatus[3].pressure",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "REAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "fbScreening.AlicatHumidAir.pressure",
        "x": 120,
        "y": 1620,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "d392843e7058dc01",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "AlicatHumidAir.temp",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.fbAlicatSerial.allStatus[3].temp",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "REAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "fbScreening.AlicatHumidAir.temp",
        "x": 110,
        "y": 1660,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "0316d3ccf25963cd",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "AlicatHumidAir.volFlow",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.fbAlicatSerial.allStatus[3].volFlow",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "REAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "fbScreening.AlicatHumidAir.volFlow",
        "x": 120,
        "y": 1700,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "e88b0b56db487edd",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "AlicatHumidAir.massFlow",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.fbAlicatSerial.allStatus[3].massFlow",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "REAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "fbScreening.AlicatHumidAir.massFlow",
        "x": 130,
        "y": 1740,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "85a07c23e7b93c00",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "AlicatHumidAir.massFlowSet",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.fbAlicatSerial.allStatus[3].massFlowSet",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "REAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "ONCHANGE",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "fbScreening.AlicatHumidAir.massFlowSet",
        "x": 140,
        "y": 1780,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "82b78bf7408e3617",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "AlicatHumidNitrogen.status",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.fbAlicatSerial.allStatus[4].status",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "DWORD",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "fbScreening.AlicatHumidNitrogen.status",
        "x": 130,
        "y": 1820,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "52dcf6e4a99105f5",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "AlicatHumidNitrogen.pressure",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.fbAlicatSerial.allStatus[4].pressure",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "REAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "fbScreening.AlicatHumidNitrogen.pressure",
        "x": 140,
        "y": 1860,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "54f49a751af63141",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "AlicatHumidNitrogen.temp",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.fbAlicatSerial.allStatus[4].temp",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "REAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "fbScreening.AlicatHumidNitrogen.temp",
        "x": 130,
        "y": 1900,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "8ce5d30e34fc49c1",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "AlicatHumidNitrogen.volFlow",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.fbAlicatSerial.allStatus[4].volFlow",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "REAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "fbScreening.AlicatHumidNitrogen.volFlow",
        "x": 140,
        "y": 1940,
        "wires": [
            []
        ]
    },
    {
        "id": "5b2c3090b57c706d",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "AlicatHumidNitrogen.massFlow",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.fbAlicatSerial.allStatus[4].massFlow",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "REAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "fbScreening.AlicatHumidNitrogen.massFlow",
        "x": 150,
        "y": 1980,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "0b3dd19c30bed780",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "AlicatHumidNitrogen.massFlowSet",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.fbAlicatSerial.allStatus[4].massFlowSet",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "REAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "ONCHANGE",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "fbScreening.AlicatHumidNitrogen.massFlowSet",
        "x": 160,
        "y": 2020,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "9372edfc89338de0",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "AlicatHumidNitrogen.gasType",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.fbAlicatSerial.allStatus[4].gasType",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "USINT",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "fbScreening.AlicatHumidNitrogen.gasType",
        "x": 140,
        "y": 2060,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "44725be9bcac392c",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "AlicatHumidAir.gasType",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.fbScreening.fbAlicatSerial.allStatus[3].gasType",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "USINT",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "fbScreening.AlicatHumidAir.gasType",
        "x": 120,
        "y": 2100,
        "wires": [
            [
                "48e6d439817b906a"
            ]
        ]
    },
    {
        "id": "c9403085e49c4b86",
        "type": "ads-connection",
        "host": "172.16.11.100",
        "clientIP": "172.16.42.4",
        "amsNetIdTarget": "5.91.185.48.1.1",
        "amsNetIdSource": "172.16.42.4.1.1",
        "port": "48898",
        "amsPortSource": "32905",
        "amsPortTarget": "851",
        "adsTimeout": "5000",
        "info": "Screening PLC"
    },
    {
        "id": "8f07fc748c879017",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "Influx23",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb22:8086",
        "rejectUnauthorized": false
    }
]