flows.json
[
    {
        "id": "46b8d6a8be0dfa75",
        "type": "tab",
        "label": "BenchScale Reactor Data",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8e73aaf17ab12ebe",
        "type": "debug",
        "z": "46b8d6a8be0dfa75",
        "name": "",
        "active": false,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 370,
        "y": 60,
        "wires": []
    },
    {
        "id": "3b0f2b940c98e033",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "lifeCounter",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Controller.lifeCounter",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "INT",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "Controller.lifeCounter",
        "x": 80,
        "y": 160,
        "wires": [
            [
                "8e73aaf17ab12ebe",
                "97de9849a4dc7f3e",
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "615553c128d3d696",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "aiAE211Humidity",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.aiAE211Humidity.value",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "aiAE211Humidity.value",
        "x": 100,
        "y": 220,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "de40a002dc90c458",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "aiAE211Temp",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.aiAE211Temp.value",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "aiAE211Temp.value",
        "x": 90,
        "y": 260,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "b13b6e7751bbcdf0",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "aiTT242",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.aiTT242.value",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "aiTT242.value",
        "x": 80,
        "y": 320,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "12122b6ffd4c1d4b",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "aiTT243",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.aiTT243.value",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "aiTT243.value",
        "x": 80,
        "y": 360,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "78adc0677bde61dd",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "aiTT244",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.aiTT244.value",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "aiTT244.value",
        "x": 80,
        "y": 400,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "79b3da6184ca4e46",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "aiTT245",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.aiTT245.value",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "aiTT245.value",
        "x": 80,
        "y": 440,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "4e255a90577163c8",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "aiTT351",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.aiTT351.value",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "aiTT351.value",
        "x": 80,
        "y": 520,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "9cb44b4175a635d3",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "aiTT352",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.aiTT352.value",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "aiTT352.value",
        "x": 80,
        "y": 560,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "354669d5b052ed51",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "aiTT381",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.aiTT381.value",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "aiTT381.value",
        "x": 80,
        "y": 680,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "d23e4d3b060b4c47",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "aiTT382",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.aiTT382.value",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "aiTT382.value",
        "x": 80,
        "y": 720,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "301ac3a5d017c451",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "aiTT212",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.aiTT212.value",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "aiTT212.value",
        "x": 80,
        "y": 760,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "5950e9ac3367960f",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "aiTT251",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.aiTT251.value",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "aiTT251.value",
        "x": 80,
        "y": 800,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "17adfb2f46debc5f",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "aiCO2",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.aiCO2.value",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "aiCO2.value",
        "x": 70,
        "y": 1000,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "ad74a0794269fcf0",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "aiH2O",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.aiH2O.value",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "aiH2O.value",
        "x": 70,
        "y": 1040,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "daf5f9e9cb34a192",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "aiPIT351",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.aiPIT351.value",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "aiPIT351.value",
        "x": 80,
        "y": 1200,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "a65d218b4ab37e18",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "aiPIT381",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.aiPIT381.value",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "aiPIT381.value",
        "x": 80,
        "y": 1240,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "d907546e19f42b2b",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "aiPDIT351",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.aiPDIT351.value",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "aiPDIT351.value",
        "x": 80,
        "y": 1280,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "a6f58c5d9dc7a817",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "aiFIT381",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.aiFIT381.value",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "aiFIT381.value",
        "x": 80,
        "y": 1320,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "5e0c6a2e1d9c0a73",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "svTW131.state",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.svTW131.solenoid.state",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "INT",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "svTW131.state",
        "x": 100,
        "y": 1420,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "28aff52e000afebe",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "svTW132.state",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.svTW132.solenoid.state",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "INT",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "svTW132.state",
        "x": 100,
        "y": 1460,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "9a81debe9f181de8",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "svTW381.state",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.svTW381.solenoid.state",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "INT",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "svTW381.state",
        "x": 100,
        "y": 1500,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "f327f9a5e18e1e4f",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "svXV111.state",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.svXV111.solenoid.state",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "INT",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "svXV111.state",
        "x": 90,
        "y": 1540,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "7375704b10c2f91c",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "svXV231.state",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.svXV231.solenoid.state",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "INT",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "svXV231.state",
        "x": 90,
        "y": 1580,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "cad1296f36c3e8ba",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "svXV213.state",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.svXV213.solenoid.state",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "INT",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "svXV213.state",
        "x": 80,
        "y": 1640,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "5dd46fb75825818e",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "svXV212.state",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.svXV212.solenoid.state",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "INT",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "svXV212.state",
        "x": 80,
        "y": 1780,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "89a5beb077232d40",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "svXV381.state",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.svXV381.solenoid.state",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "INT",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "svXV381.state",
        "x": 80,
        "y": 1920,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "a2d1e3efdfd9b374",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "svXV371.state",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.svXV371.solenoid.state",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "INT",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "svXV371.state",
        "x": 90,
        "y": 2040,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "cf9584fa9f93a380",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "svXV213.diFullOpened",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.svXV213.solenoid.dqState1.diReached.diRawIn",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "INT",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "svXV213.diFullOpened",
        "x": 110,
        "y": 1680,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "903994ec95e3dfaf",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "svXV213.diFullClosed",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.svXV213.solenoid.dqState2.diReached.diRawIn",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "INT",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "svXV213.diFullClosed",
        "x": 110,
        "y": 1720,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "6570c925998aec4b",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "svXV212.diFullOpened",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.svXV212.solenoid.dqState1.diReached.diRawIn",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "BOOL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "svXV212.diFullOpened",
        "x": 110,
        "y": 1820,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "40c048366013be5a",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "svXV212.diFullClosed",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.svXV212.solenoid.dqState2.diReached.diRawIn",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "BOOL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "svXV212.diFullClosed",
        "x": 110,
        "y": 1860,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "992cd167b32dc80b",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "svXV381.diFullOpened",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.svXV381.solenoid.dqState1.diReached.diRawIn",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "BOOL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "svXV381.diFullOpened",
        "x": 110,
        "y": 1960,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "d752cb7274624b0d",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "svXV381.diFullClosed",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.svXV381.solenoid.dqState2.diReached.diRawIn",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "BOOL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "svXV381.diFullClosed",
        "x": 110,
        "y": 2000,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "2514e7a83ad0c861",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "heater8.status.opCondWord",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.heater8.status.opCondWord",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "WORD",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "ONCHANGE",
        "maxDelay": "510",
        "cycleTime": "110",
        "property": "payload",
        "topic": "heater8.status.opCondWord",
        "x": 130,
        "y": 2580,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "12e3bdc0f14f1bb4",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "heater8.boCommsLoss",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.heater8.boCommsLoss",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "BOOL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "ONCHANGE",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "heater8.boCommsLoss",
        "x": 110,
        "y": 2540,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "216113c739752723",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "heater8.status.volts",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.heater8.status.volts",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "heater8.status.volts",
        "x": 100,
        "y": 2200,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "61849211ea6ddec4",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "heater8.status.amps",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.heater8.status.amps",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "heater8.status.amps",
        "x": 90,
        "y": 2360,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "ef93ac2977792068",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "heater8.cmdStatus.volts",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.heater8.cmdStatus.volts",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "heater8.cmdStatus.volts",
        "x": 110,
        "y": 2160,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "dbfbe6ab3c14e2a3",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "heater8.cmd.volts",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.heater8.cmd.volts",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "heater8.cmd.volts",
        "x": 100,
        "y": 2120,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "ad0e2cf7fddaf0c4",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "heater8.cmd.amps",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.heater8.cmd.amps",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "heater8.cmd.amps",
        "x": 90,
        "y": 2280,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "d6c51ae41b9deab3",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "heater8.cmdStatus.amps",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.heater8.cmdStatus.amps",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "heater8.cmdStatus.amps",
        "x": 110,
        "y": 2320,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "21c2e22e660fd595",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "heater8.status.questCondWord",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.heater8.status.questCondWord",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "WORD",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "ONCHANGE",
        "maxDelay": "510",
        "cycleTime": "110",
        "property": "payload",
        "topic": "heater8.status.questCondWord",
        "x": 140,
        "y": 2740,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "e773cf28e2c36911",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "heater8.status.active",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.heater8.status.active",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "BOOL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "heater8.status.active",
        "x": 100,
        "y": 2660,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "dcfc1962f6ad5ae7",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "heater8.cmd.run",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.heater8.cmd.run",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "BOOL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "heater8.cmd.run",
        "x": 90,
        "y": 2700,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "a8f4ad814ceb30ae",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "heater8.mode",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.heater8.mode",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "INT",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "heater8.mode",
        "x": 80,
        "y": 2620,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "fa6a5002706d17df",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "heater8.status.watts",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.heater8.status.watts",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "heater8.status.watts",
        "x": 100,
        "y": 2480,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "d9ddad4113aaf212",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "heater8.cmd.watts",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.heater8.cmd.watts",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "heater8.cmd.watts",
        "x": 100,
        "y": 2400,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "8ae36b760cb483f7",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "heater8.cmdStatus.amps",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.heater8.cmdStatus.amps",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "heater8.cmdStatus.amps",
        "x": 120,
        "y": 2440,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "04cc505e67119bb7",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "HoribaCO2",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.horiba412.CO2meas",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "REAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "Horiba.CO2meas",
        "x": 80,
        "y": 1080,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "a8c169c474a218cf",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "HoribaO2",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.horiba412.O2meas",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "REAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "Horiba.O2meas",
        "x": 80,
        "y": 1120,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "7a9eefe4f78f68cc",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "stgHumid121.status.boilingPoint",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.stgHumid121.status.boilingPoint",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "REAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "stgHumid121.status.boilingPoint",
        "x": 140,
        "y": 2800,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "97de9849a4dc7f3e",
        "type": "ADS Output",
        "z": "46b8d6a8be0dfa75",
        "name": "nodeRedLifeCounter",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Controller.nodeRedLifeCounter",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "INT",
        "outValue": "payload",
        "varSize": "",
        "timezone": "UNCHANGED",
        "topic": "Controller.lifeCounter",
        "x": 660,
        "y": 80,
        "wires": []
    },
    {
        "id": "edc49557a21084e9",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "aiPT351",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.aiPT351.value",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "aiPT351.value",
        "x": 80,
        "y": 1160,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "be246710a4bdad50",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "stgHumid121.flow",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.stgHumid121.status.flow",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "REAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "stgHumid121.status.flow",
        "x": 100,
        "y": 2840,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "769b21c6ca6d07ef",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "stgRegen131.status.boilingPoint",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.stgRegen131.status.boilingPoint",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "REAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "stgRegen131.status.boilingPoint",
        "x": 140,
        "y": 2880,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "ff9fc610a5a7ca9c",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "stgRegen131.flow",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.stgRegen131.status.flow",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "REAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "stgRegen131.status.flow",
        "x": 90,
        "y": 3040,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "5fe74a82b8c887cf",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "mfc211massFlow",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.mfc211.status.massFlow",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "REAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "mfc211.status.flow",
        "x": 100,
        "y": 3100,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "6ef00c3d562124c0",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "mfc361massFlow",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.mfc361.status.massFlow",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "REAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "mfc361.status.flow",
        "x": 100,
        "y": 3240,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "0bdd47aedc3a9ae8",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "centerHeaterCtrl.enable",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.centerHeaterCtrl.enable",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "BOOL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "centerHeaterCtrl.enable",
        "x": 120,
        "y": 3280,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "68f8880ebb1255b9",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "mfc211temp",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.mfc211.status.temp",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "REAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "mfc211.status.temp",
        "x": 90,
        "y": 3140,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "b5916735f85da4a4",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "aiTT371",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.aiTT371.value",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "aiTT371.value",
        "x": 80,
        "y": 480,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "6d69dd9d66694f2e",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "aiTT221",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.aiTT221.value",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "aiTT221.value",
        "x": 80,
        "y": 840,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "6d62bc19b9c295d2",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "aiTTB-3",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.aiTTSp7_1.value",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "aiTTB-3.value",
        "x": 70,
        "y": 960,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "0c618177b1fecab3",
        "type": "join",
        "z": "46b8d6a8be0dfa75",
        "name": "BS_Combined",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "0.5",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1020,
        "y": 980,
        "wires": [
            [
                "a8729dd74f9cba2a"
            ]
        ]
    },
    {
        "id": "a8729dd74f9cba2a",
        "type": "influxdb out",
        "z": "46b8d6a8be0dfa75",
        "influxdb": "76365a40ab441c2a",
        "name": "influxdb23",
        "measurement": "BenchScale",
        "precision": "",
        "retentionPolicy": "",
        "database": "Benchscale",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "Sustaera",
        "bucket": "DacLab",
        "x": 1210,
        "y": 980,
        "wires": []
    },
    {
        "id": "5368472d12a46ac3",
        "type": "ADS System",
        "z": "46b8d6a8be0dfa75",
        "name": "BenchScale PLC",
        "datasource": "c9403085e49c4b86",
        "useInputMsg": false,
        "topic": "BenchScale PLC",
        "x": 160,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "a2c5e5f10f2b15d6",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "dqVacPump.value",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dqVacPump.value",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "BOOL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "vacPump_value",
        "x": 110,
        "y": 3320,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "3e6c79c355b70182",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "aiRoomTemp",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.aiTTSp12_3.value",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "aiRoomTemp",
        "x": 90,
        "y": 3360,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "2a07dbb7d504ac8f",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "AdsorbCO2Stat.integral",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.adsorbCO2_Stat.integral",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "adsorbCO2_Stat.integral",
        "x": 2960,
        "y": 300,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "0315e1350feee6db",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "AdsorbH2OStat.integral",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.adsorbH2O_Stat.integral",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "adsorbH2O_Stat.integral",
        "x": 2960,
        "y": 340,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "aca50017f8429aff",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "LicorCO2Stat.mean",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.licorCO2_Stat.smoothed_value",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "licorCO2_Stat.mean",
        "x": 2970,
        "y": 380,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "e87192a645516a54",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "LicorCO2Stat.integral",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.licorCO2_Stat.integral",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "licorCO2_Stat.integral",
        "x": 2980,
        "y": 620,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "a9b190251c3f6af7",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "LicorH2OStat.mean",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.licorH2O_Stat.smoothed_value",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "licorH2O_Stat.mean",
        "x": 2970,
        "y": 580,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "7339e0e4dffb404a",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "LicorH2OStat.integral",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.licorH2O_Stat.integral",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "licorH2O_Stat.integral",
        "x": 2980,
        "y": 700,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "a68a163f39d5ac7f",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "outerHeaterCtrl.onPct",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.outerHeaterCtrl.onPct",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "outerHeaterCtrl.onPct",
        "x": 100,
        "y": 2080,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "562b306ce8a02fa1",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "stgHumid121.pressure",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.stgHumid121.status.pressure",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "REAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "stgHumid121.status.pressure",
        "x": 120,
        "y": 2920,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "15ee6138f219a826",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "orManualHeatEnable",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.orManualHeatEnable",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "BOOL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "Main.benchScale.orManualHeatEnableBool",
        "x": 120,
        "y": 3660,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "66aece39b0878af1",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "aiTT_DACTEMP",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.aiTT_DACTEMP.value",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "aiTT_DACTEMP.value",
        "x": 100,
        "y": 600,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "2d23d49d3b7f7b92",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "aiTT_LICOR",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.aiTT_LICOR.value",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "aiTT_LICOR.value",
        "x": 90,
        "y": 640,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "2dbf4ecbcfc44f85",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "mfc361pressure",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.mfc361.status.pressure",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "REAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "mfc361.status.pressure",
        "x": 100,
        "y": 3180,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "4b43a8f3acad8a37",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "odCenterTemp",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.odCenterTemp",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "odCenterTemp",
        "x": 100,
        "y": 1360,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "7638e07475775b8c",
        "type": "function",
        "z": "46b8d6a8be0dfa75",
        "name": "Split Array",
        "func": "var newmsg = [];\nmsg.payload.forEach(function(value, index){\n    newmsg.push({\n        payload: value,\n        topic: msg.topic+'['+index+']'\n    });\n});\n\nreturn [newmsg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1550,
        "y": 2140,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "e5213b9987a3354f",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "LunaNumOfPeaks",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.lunaReader.nPeaksFound",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "UINT",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "2000",
        "property": "payload",
        "topic": "LunaNumOfPeaks",
        "x": 850,
        "y": 2140,
        "wires": [
            [
                "0761ec23f9c2444c"
            ]
        ]
    },
    {
        "id": "0761ec23f9c2444c",
        "type": "function",
        "z": "46b8d6a8be0dfa75",
        "name": "CalculateArrayUpperIndex",
        "func": "if(msg.payload > 0)\n{\n    return {config:{varHighIndex: msg.payload - 1}};\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 2140,
        "wires": [
            [
                "8fb2293b6de283d1"
            ]
        ]
    },
    {
        "id": "8fb2293b6de283d1",
        "type": "ADS In",
        "z": "46b8d6a8be0dfa75",
        "name": "LunaPeaks",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.lunaReader.aPeaks",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "inValue": "payload",
        "varSize": "",
        "varLowIndex": "0",
        "varHighIndex": "",
        "useInputMsg": false,
        "isArray": true,
        "timezone": "UNCHANGED",
        "topic": "LunaPeaks",
        "x": 1330,
        "y": 2140,
        "wires": [
            [
                "7638e07475775b8c"
            ]
        ]
    },
    {
        "id": "ada0e97de0637849",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "aiTT_MFM",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.aiTT_MFM.value",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "aiTT_MFM.value",
        "x": 80,
        "y": 880,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "aa9f3c66c3c18082",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "aiTT_WatCal",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.aiTT_WatCal.value",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "aiTT_WatCal.value",
        "x": 90,
        "y": 920,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "2ee01a23dc48713b",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "inletCO2",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.inletVaisala.CO2ppm",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "inletCO2",
        "x": 860,
        "y": 520,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "ef8af47113cde15b",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "Bench.state",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.state",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "INT",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "Bench.state",
        "x": 90,
        "y": 3720,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "0dcf62c3192a7073",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "adsorbCO2AvgStat.integral",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.adsorbCO2_avg_Stat.integral",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "adsorbCO2AvgStat.integral",
        "x": 2970,
        "y": 260,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "61e687e9040acb11",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "centerHtrModel.coef1.v",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.centerHtrModel.coef1.v",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "0",
        "varHighIndex": "2",
        "isArray": true,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "5000",
        "cycleTime": "5000",
        "property": "payload",
        "topic": "centerHtrModel.coef1.v",
        "x": 120,
        "y": 3820,
        "wires": [
            [
                "381363b9ab996c9c"
            ]
        ]
    },
    {
        "id": "e0268953efefc280",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "centerHtrModel.coef2.v",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.centerHtrModel.coef2.v",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "0",
        "varHighIndex": "3",
        "isArray": true,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "5000",
        "cycleTime": "5000",
        "property": "payload",
        "topic": "centerHtrModel.coef2.v",
        "x": 120,
        "y": 3940,
        "wires": [
            [
                "71af48f13d483a5e"
            ]
        ]
    },
    {
        "id": "381363b9ab996c9c",
        "type": "function",
        "z": "46b8d6a8be0dfa75",
        "name": "Split Array",
        "func": "var newmsg = [];\nmsg.payload.forEach(function(value, index){\n    newmsg.push({\n        payload: value,\n        topic: msg.topic+'['+index+']'\n    });\n});\n\nreturn [newmsg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 3820,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "71af48f13d483a5e",
        "type": "function",
        "z": "46b8d6a8be0dfa75",
        "name": "Split Array",
        "func": "var newmsg = [];\nmsg.payload.forEach(function(value, index){\n    newmsg.push({\n        payload: value,\n        topic: msg.topic+'['+index+']'\n    });\n});\n\nreturn [newmsg];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 3940,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "33e84b7cd5b8c4c6",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "centerHtrModel.estimate1",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.centerHtrModel.estimate1",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "0",
        "varHighIndex": "2",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "5000",
        "cycleTime": "5000",
        "property": "payload",
        "topic": "centerHtrModel.estimate1",
        "x": 130,
        "y": 3860,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "e6b18997c20893af",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "centerHtrModel.estimate2",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.centerHtrModel.estimate2",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "0",
        "varHighIndex": "2",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "5000",
        "cycleTime": "5000",
        "property": "payload",
        "topic": "centerHtrModel.estimate2",
        "x": 130,
        "y": 3980,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "f4bc76a11caac193",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "centerHtrModel.error1",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.centerHtrModel.error1",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "0",
        "varHighIndex": "2",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "5000",
        "cycleTime": "5000",
        "property": "payload",
        "topic": "centerHtrModel.error1",
        "x": 120,
        "y": 3900,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "1e07047029f2e8b9",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "centerHtrModel.error2",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.centerHtrModel.error2",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "0",
        "varHighIndex": "2",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "5000",
        "cycleTime": "5000",
        "property": "payload",
        "topic": "centerHtrModel.error2",
        "x": 120,
        "y": 4020,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "5e8430e51df2436d",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "CenterTempRampRate(deg/sec)",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.centerTempRamp.rampRate",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "CenterTempRampRate(deg/sec)",
        "x": 410,
        "y": 240,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "1903be4028fba3ec",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "aiTTWaterCal",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.aiTTWaterCal.value",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "aiTTWaterCal",
        "x": 370,
        "y": 180,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "4a47f49f76aad210",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "odLicorCO2",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.odLicorCO2",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "odLicorCO2",
        "x": 870,
        "y": 360,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "318cbf3d6576a3f6",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "odLicorH2O",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.odLicorH2O",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "odLicorH2O",
        "x": 870,
        "y": 400,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "a597200b9c3e9deb",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "licorPressure",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.licor.pressure",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "licorPressure",
        "x": 870,
        "y": 440,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "cfc58ddcc0324086",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "licorFlowrate",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.licor.flowrate",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "licorFlowrate",
        "x": 870,
        "y": 480,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "cf6b04ff364d9703",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "scale.weight",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.scale.weight",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "scale.weight",
        "x": 2950,
        "y": 540,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "afc558d3076b3bb8",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "TT_PolySci_Chiller",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.aiTT_PolySci_Chiller.value",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "TT_PolySci_Chiller",
        "x": 390,
        "y": 140,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "5691c7bedf6c717b",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "inlet air chiller pump speed (RPM)",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.chiller.status.pumpSpeed",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "inlet air chiller pump speed (RPM)",
        "x": 1120,
        "y": 360,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "a4a6e2d18df71f52",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "inlet air chiller pump temp (degC)",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.chiller.status.chillerTemp",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "inlet air chiller temp (degC)",
        "x": 1110,
        "y": 400,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "0c9cb2f207f81d79",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "inlet air chiller pump on",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.chiller.status.boPumpActive",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "BOOL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "inlet air chiller pump on",
        "x": 1080,
        "y": 440,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "7e9995d049b98fce",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "inlet air chiller tempering on",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.chiller.status.boTempActive",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "BOOL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "inlet air chiller tempering on",
        "x": 1100,
        "y": 480,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "36e0131bd47340f0",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "dacVolume(L)",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.dacVol",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "dacVolume(L)",
        "x": 1610,
        "y": 120,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "068ba159396aff3b",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "dacVolumeIntermediate(L)",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.dacVolIntermediate",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "dacVolumeIntermediate(L)",
        "x": 1650,
        "y": 160,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "a176f133c1621de1",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "Desorb Energy (J)",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.magnaWatts_Stat.integral",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "Desorb Energy (J)",
        "x": 2550,
        "y": 240,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "3182d1e7cc09433b",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "specificHumidityVaisala _(mmol/mol)",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.specificHumidity",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "specificHumidityVaisala _(mmol/mol)",
        "x": 1680,
        "y": 220,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "228ad84890a7a923",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "avgAdsorbRH",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.avgAdsorbRH",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "avgAdsorbRH",
        "x": 2510,
        "y": 320,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "a545959538d10ad4",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "avgInletAirTemp",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.avgInletAirTemp",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "avgInletAirTemp",
        "x": 2520,
        "y": 360,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "8667c56ea9892163",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "tmRegen.done",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.tmRegen.done",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "BOOL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "tmRegen.done",
        "x": 1080,
        "y": 540,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "150fb711cf9ee343",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "avgcalcSpecificHumidity",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.avgCalcSpecificHumidity",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "avgcalcSpecificHumidity",
        "x": 2550,
        "y": 400,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "f79ecd56beb52918",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "horibaCO2_Stat.integral",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.horibaCO2_Stat.integral",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "horibaCO2_Stat.integral",
        "x": 2980,
        "y": 660,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "76cbbb42bae1a80e",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "preAdsorbVaisalaSH",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.preAdsorbVaisalaSH",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "preAdsorbVaisalaSH",
        "x": 2530,
        "y": 280,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "fa9648a56f8e6dfa",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "avgAdsorbFlowRate",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.avgAdsorbFlowRate",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "avgAdsorbFlowRate",
        "x": 2530,
        "y": 440,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "60e8adbbd002d705",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "avgSorbentWHSV",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.avgSorbentWHSV",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "avgSorbentWHSV",
        "x": 2530,
        "y": 580,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "be453291587eef1e",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "avgWashCoatWHSV",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.avgWashCoatWHSV",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "avgWashCoatWHSV",
        "x": 2530,
        "y": 620,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "f9bbbcbcd68ab208",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "captureDensity_CO2",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.captureDensity_CO2",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "captureDensity_CO2",
        "x": 2530,
        "y": 820,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "587fd27a9db64754",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "captureDensity_CO2_avg",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.captureDensity_CO2_avg",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "captureDensity_CO2_avg",
        "x": 2550,
        "y": 860,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "df3452057de59412",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "sorbentCaptureCapacity_CO2",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.sorbentCaptureCapacity_CO2",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "sorbentCaptureCapacity_CO2",
        "x": 2560,
        "y": 1080,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "5668f295f56e1265",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "washcoatCaptureCapacity_CO2",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.washcoatCaptureCapacity_CO2",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "washcoatCaptureCapacity_CO2",
        "x": 2570,
        "y": 1360,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "d0add0460186bf0a",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "sorbentCaptureCapacity_CO2_avg",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.sorbentCaptureCapacity_CO2_avg",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "sorbentCaptureCapacity_CO2_avg",
        "x": 2580,
        "y": 1120,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "f5433584548ea6a9",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "washcoatCaptureCapacity_CO2_avg",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.washcoatCaptureCapacity_CO2_avg",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "washcoatCaptureCapacity_CO2_avg",
        "x": 2580,
        "y": 1400,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "ec2531a7c696cdc8",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "captureEfficiency_CO2",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.captureEfficiency_CO2",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "captureEfficiency_CO2",
        "x": 2540,
        "y": 1600,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "cdfa36329263f221",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "adsorptionRate_CO2",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.adsorptionRate_CO2",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "adsorptionRate_CO2",
        "x": 2540,
        "y": 1840,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "61a04156e39254ea",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "captureEfficiency_CO2_avg",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.captureEfficiency_CO2_avg",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "captureEfficiency_CO2_avg",
        "x": 2560,
        "y": 1640,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "4ba27556ce4f6907",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "adsorptionRate_CO2_avg",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.adsorptionRate_CO2_avg",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "adsorptionRate_CO2_avg",
        "x": 2550,
        "y": 1880,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "173f5bb55b3b67a1",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "adsorptionRate_H2O",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.adsorptionRate_H2O",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "adsorptionRate_H2O",
        "x": 2540,
        "y": 2000,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "5f50b3d194708a32",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "avgDrySorbentWHSV",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.avgDrySorbentWHSV",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "avgDrySorbentWHSV",
        "x": 2540,
        "y": 660,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "cae929573e383f07",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "avgDryWashCoatWHSV",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.avgDryWashCoatWHSV",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "avgDryWashCoatWHSV",
        "x": 2550,
        "y": 700,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "45ca20c78d11c0e1",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "dryCaptureDensity_CO2",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dryCaptureDensity_CO2",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "dryCaptureDensity_CO2",
        "x": 2550,
        "y": 900,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "0d0da6de401a3bf4",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "dryCaptureDensity_CO2_avg",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dryCaptureDensity_CO2_avg",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "dryCaptureDensity_CO2_avg",
        "x": 2560,
        "y": 940,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "e9ab3c3a1201056f",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "drySorbentCaptureCapacity_CO2",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.drySorbentCaptureCapacity_CO2",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "drySorbentCaptureCapacity_CO2",
        "x": 2570,
        "y": 1160,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "c7f31ee93c9047e8",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "captureDensity_H2O",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.captureDensity_H2O",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "captureDensity_H2O",
        "x": 2530,
        "y": 980,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "a41ace0fcc39d502",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "drySorbentCaptureCapacity_CO2_avg",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.drySorbentCaptureCapacity_CO2_avg",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "drySorbentCaptureCapacity_CO2_avg",
        "x": 2590,
        "y": 1200,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "1589e87909c850af",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "sorbentCaptureCapacity_H2O",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.sorbentCaptureCapacity_H2O",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "sorbentCaptureCapacity_H2O",
        "x": 2560,
        "y": 1240,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "f76910780d29cc6c",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "dryWashcoatCaptureCapacity_CO2",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dryWashcoatCaptureCapacity_CO2",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "dryWashcoatCaptureCapacity_CO2",
        "x": 2580,
        "y": 1440,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "1147abbe91265bce",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "dryWashcoatCaptureCapacity_CO2_avg",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dryWashcoatCaptureCapacity_CO2_avg",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "dryWashcoatCaptureCapacity_CO2_avg",
        "x": 2600,
        "y": 1480,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "45c2f40e267ac317",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "washcoatCaptureCapacity_H2O",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.washcoatCaptureCapacity_H2O",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "washcoatCaptureCapacity_H2O",
        "x": 2570,
        "y": 1520,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "a30a151852a480f1",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "dryCaptureEfficiency_CO2",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dryCaptureEfficiency_CO2",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "dryCaptureEfficiency_CO2",
        "x": 2550,
        "y": 1680,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "161c5b56faaad582",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "dryCaptureEfficiency_CO2_avg",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dryCaptureEfficiency_CO2_avg",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "dryCaptureEfficiency_CO2_avg",
        "x": 2570,
        "y": 1720,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "4fe01f46c9c12c29",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "captureEfficiency_H2O",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.captureEfficiency_H2O",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "captureEfficiency_H2O",
        "x": 2540,
        "y": 1760,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "d09eafc16fc939bc",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "dryAdsorptionRate_CO2",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dryAdsorptionRate_CO2",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "dryAdsorptionRate_CO2",
        "x": 2550,
        "y": 1920,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "bcc82449e93d3a1d",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "dryAdsorptionRate_CO2_avg",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dryAdsorptionRate_CO2_avg",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "dryAdsorptionRate_CO2_avg",
        "x": 2560,
        "y": 1960,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "b0921e8a2f1f0d0c",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "dryAdsorbCO2_Stat.integral",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dryAdsorbCO2_Stat.integral",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "dryAdsorbCO2_Stat.integral",
        "x": 2980,
        "y": 140,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "34d671c2abe95bc5",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "dryAdsorbCO2_avg_Stat.integral",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dryAdsorbCO2_avg_Stat.integral",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "dryAdsorbCO2_avg_Stat.integral",
        "x": 2990,
        "y": 180,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "bf73e3f78d4e1025",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "dryOdLicorCO2",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dryOdLicorCO2",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "dryOdLicorCO2",
        "x": 2940,
        "y": 220,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "34db28823baeed62",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "licorCO2perJoule",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.licorCO2perJoule",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "licorCO2perJoule",
        "x": 2960,
        "y": 780,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "a1ba7e4eafac3e83",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "horibaCO2perJoule",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.horibaCO2perJoule",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "horibaCO2perJoule",
        "x": 2970,
        "y": 820,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "3c261a4a5eb2259f",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "H2OperJoule",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.H2OperJoule",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "H2OperJoule",
        "x": 2950,
        "y": 860,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "5f7f206fc9d4d713",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "totalDesorbedH2O",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.totalDesorbedH2O",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "totalDesorbedH2O",
        "x": 2970,
        "y": 740,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "1ca7fc5655b09605",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "heater8.status.ohms",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.heater8.status.ohms",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "heater8.status.ohms",
        "x": 90,
        "y": 2240,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "8244ab6d25f9d2c7",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "orClosedVesselDesorb",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.orClosedVesselDesorb",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "BOOL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "orClosedVesselDesorb",
        "x": 1640,
        "y": 60,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "0fb6e1f609016e19",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "massWetAdsorbRatio",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.massWetAdsorbRatio",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "massWetAdsorbRatio",
        "x": 2980,
        "y": 1080,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "17a235a1093e7e20",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "massWetAdsorbRatio_avg",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.massWetAdsorbRatio_avg",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "massWetAdsorbRatio_avg",
        "x": 2990,
        "y": 1120,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "d5ba8fd19eba208e",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "massDryAdsorbRatio",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.massDryAdsorbRatio",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "massDryAdsorbRatio",
        "x": 2980,
        "y": 1160,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "ea38adf47fd5efe5",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "massDryAdsorbRatio_avg",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.massDryAdsorbRatio_avg",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "massDryAdsorbRatio_avg",
        "x": 2990,
        "y": 1200,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "1b212889350ed3b1",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "avgDryAdsorbFlowRate",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.avgDryAdsorbFlowRate",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "avgDryAdsorbFlowRate",
        "x": 2540,
        "y": 480,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "024c570a1174dc7b",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "adsorbSH_Stat.integral",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.adsorbSH_Stat.integral",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "adsorbSH_Stat.integral",
        "x": 2960,
        "y": 100,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "c701532e439e15ff",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "inletCO2_Stat.integral",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.inletCO2_Stat.integral",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "inletCO2_Stat.integral",
        "x": 2960,
        "y": 60,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "afa15dbd6e5262db",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "licorMassDesorbRatio",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.licorMassDesorbRatio",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "licorMassDesorbRatio",
        "x": 2980,
        "y": 900,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "fd4680b347581de4",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "d": true,
        "name": "horibaMassDesorbRatio",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.horibaMassDesorbRatio",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "horibaMassDesorbRatio",
        "x": 2980,
        "y": 940,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "d7243f9b7116b2c8",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "preAdsorbVaisalaSH",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.preAdsorbVaisalaSH",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "preAdsorbVaisalaSH",
        "x": 1630,
        "y": 260,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "6bd9145f92311299",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "avgAdsorbRH",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.avgAdsorbRH",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "avgAdsorbRH",
        "x": 1610,
        "y": 300,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "6f36057f8d3edd7e",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "avgInletAirTemp",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.avgInletAirTemp",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "avgInletAirTemp",
        "x": 1620,
        "y": 340,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "5d188b5f78c93659",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "avgcalcSpecificHumidity",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.avgCalcSpecificHumidity",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "avgcalcSpecificHumidity",
        "x": 1650,
        "y": 380,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "14b576c025ef3269",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "avgAdsorbFlowRate",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.avgAdsorbFlowRate",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "avgAdsorbFlowRate",
        "x": 1630,
        "y": 420,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "3f2ac3a18973fb98",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "avgDryAdsorbFlowRate",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.avgDryAdsorbFlowRate",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "avgDryAdsorbFlowRate",
        "x": 1640,
        "y": 460,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "2859837cffa743a1",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "avgSorbentWHSV",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.avgSorbentWHSV",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "avgSorbentWHSV",
        "x": 1630,
        "y": 540,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "38dc113113dc9dc6",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "avgWashCoatWHSV",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.avgWashCoatWHSV",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "avgWashCoatWHSV",
        "x": 1630,
        "y": 580,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "074c0ce19c4b118a",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "avgDrySorbentWHSV",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.avgDrySorbentWHSV",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "avgDrySorbentWHSV",
        "x": 1640,
        "y": 620,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "de8e0a7845547948",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "avgDryWashCoatWHSV",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.avgDryWashCoatWHSV",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "avgDryWashCoatWHSV",
        "x": 1650,
        "y": 660,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "e42c406ec1084cc7",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "captureDensity_CO2",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.captureDensity_CO2",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "captureDensity_CO2",
        "x": 1630,
        "y": 740,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "19caa4659246260b",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "captureDensity_CO2_avg",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.captureDensity_CO2_avg",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "captureDensity_CO2_avg",
        "x": 1650,
        "y": 780,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "2a9ecbc8a371f02c",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "dryCaptureDensity_CO2",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.dryCaptureDensity_CO2",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "dryCaptureDensity_CO2",
        "x": 1650,
        "y": 820,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "9a799b50dad137d5",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "dryCaptureDensity_CO2_avg",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.dryCaptureDensity_CO2_avg",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "dryCaptureDensity_CO2_avg",
        "x": 1660,
        "y": 860,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "d33b6457a58833bf",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "captureDensity_H2O",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.captureDensity_H2O",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "captureDensity_H2O",
        "x": 1630,
        "y": 900,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "ede2aa207eefc02f",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "sorbentCaptureCapacity_CO2",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.sorbentCaptureCapacity_CO2",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "sorbentCaptureCapacity_CO2",
        "x": 1660,
        "y": 980,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "85bd811ebf0c5774",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "sorbentCaptureCapacity_CO2_avg",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.sorbentCaptureCapacity_CO2_avg",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "sorbentCaptureCapacity_CO2_avg",
        "x": 1680,
        "y": 1020,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "bef50cb6d7834b27",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "drySorbentCaptureCapacity_CO2",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.drySorbentCaptureCapacity_CO2",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "drySorbentCaptureCapacity_CO2",
        "x": 1670,
        "y": 1060,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "167450201a08fea7",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "drySorbentCaptureCapacity_CO2_avg",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.drySorbentCaptureCapacity_CO2_avg",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "drySorbentCaptureCapacity_CO2_avg",
        "x": 1690,
        "y": 1100,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "28e92a85e70448dc",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "sorbentCaptureCapacity_H2O",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.sorbentCaptureCapacity_H2O",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "sorbentCaptureCapacity_H2O",
        "x": 1660,
        "y": 1140,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "87b257fa31925f4b",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "washcoatCaptureCapacity_CO2",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.washcoatCaptureCapacity_CO2",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "washcoatCaptureCapacity_CO2",
        "x": 1670,
        "y": 1220,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "8eaf55a989544b8c",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "washcoatCaptureCapacity_CO2_avg",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.washcoatCaptureCapacity_CO2_avg",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "washcoatCaptureCapacity_CO2_avg",
        "x": 1680,
        "y": 1260,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "187ab1a95235f765",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "dryWashcoatCaptureCapacity_CO2",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.dryWashcoatCaptureCapacity_CO2",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "dryWashcoatCaptureCapacity_CO2",
        "x": 1680,
        "y": 1300,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "3ca7f090039112d5",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "dryWashcoatCaptureCapacity_CO2_avg",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.dryWashcoatCaptureCapacity_CO2_avg",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "dryWashcoatCaptureCapacity_CO2_avg",
        "x": 1700,
        "y": 1340,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "c188deb38c90b3e1",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "washcoatCaptureCapacity_H2O",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.washcoatCaptureCapacity_H2O",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "washcoatCaptureCapacity_H2O",
        "x": 1670,
        "y": 1380,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "f436b6449a316ce2",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "captureEfficiency_CO2",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.captureEfficiency_CO2",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "captureEfficiency_CO2",
        "x": 1640,
        "y": 1460,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "5873ef4b45f4b970",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "adsorptionRate_CO2",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.adsorptionRate_CO2",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "adsorptionRate_CO2",
        "x": 1640,
        "y": 1700,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "4f6a4c17f83f41da",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "captureEfficiency_CO2_avg",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.captureEfficiency_CO2_avg",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "captureEfficiency_CO2_avg",
        "x": 1660,
        "y": 1500,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "f3dc0ff91a012c95",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "adsorptionRate_CO2_avg",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.adsorptionRate_CO2_avg",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "adsorptionRate_CO2_avg",
        "x": 1650,
        "y": 1740,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "c59861a4c0f832fc",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "adsorptionRate_H2O",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.adsorptionRate_H2O",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "adsorptionRate_H2O",
        "x": 1640,
        "y": 1860,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "f0571816af877cca",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "dryCaptureEfficiency_CO2",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.dryCaptureEfficiency_CO2",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "dryCaptureEfficiency_CO2",
        "x": 1650,
        "y": 1540,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "3f3a1e21f20fe603",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "dryCaptureEfficiency_CO2_avg",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.dryCaptureEfficiency_CO2_avg",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "dryCaptureEfficiency_CO2_avg",
        "x": 1670,
        "y": 1580,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "66744f417ccd70a0",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "captureEfficiency_H2O",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.captureEfficiency_H2O",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "captureEfficiency_H2O",
        "x": 1640,
        "y": 1620,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "0ea5577e09a0d2b6",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "dryAdsorptionRate_CO2",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.dryAdsorptionRate_CO2",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "dryAdsorptionRate_CO2",
        "x": 1650,
        "y": 1780,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "4bf0c983c6d3a78b",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "dryAdsorptionRate_CO2_avg",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.dryAdsorptionRate_CO2_avg",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "dryAdsorptionRate_CO2_avg",
        "x": 1660,
        "y": 1820,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "ac0c08f1c870991e",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "AdsorbCO2Stat.integral",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.adsorbCO2_Stat.integral",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "adsorbCO2_Stat.integral",
        "x": 2040,
        "y": 300,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "402e22fb3c1243dc",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "AdsorbH2OStat.integral",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.adsorbH2O_Stat.integral",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "adsorbH2O_Stat.integral",
        "x": 2040,
        "y": 340,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "a967e77e8ab22ef7",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "LicorCO2Stat.mean",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.licorCO2_Stat.smoothed_value",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "licorCO2_Stat.mean",
        "x": 2030,
        "y": 380,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "332bb0f5abf5edaf",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "adsorbCO2AvgStat.integral",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.adsorbCO2_avg_Stat.integral",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "adsorbCO2AvgStat.integral",
        "x": 2050,
        "y": 260,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "6c1a41902df2fee2",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "dryAdsorbCO2_Stat.integral",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.dryAdsorbCO2_Stat.integral",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "dryAdsorbCO2_Stat.integral",
        "x": 2060,
        "y": 140,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "f5e2c1f197e44583",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "dryAdsorbCO2_avg_Stat.integral",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.dryAdsorbCO2_avg_Stat.integral",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "dryAdsorbCO2_avg_Stat.integral",
        "x": 2070,
        "y": 180,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "2d4570716d347ca4",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "dryOdLicorCO2",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.dryOdLicorCO2",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "dryOdLicorCO2",
        "x": 2020,
        "y": 220,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "897563d06a9b9d07",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "adsorbSH_Stat.integral",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.adsorbSH_Stat.integral",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "adsorbSH_Stat.integral",
        "x": 2040,
        "y": 100,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "7d71d5262fb5e12f",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "inletCO2_Stat.integral",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.inletCO2_Stat.integral",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "inletCO2_Stat.integral",
        "x": 2040,
        "y": 60,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "192c26099df653b7",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "massWetAdsorbRatio",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.massWetAdsorbRatio",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "massWetAdsorbRatio",
        "x": 1640,
        "y": 1920,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "7825c5f58c087cfb",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "massWetAdsorbRatio_avg",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.massWetAdsorbRatio_avg",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "massWetAdsorbRatio_avg",
        "x": 1650,
        "y": 1960,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "38a0179153433433",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "massDryAdsorbRatio",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.massDryAdsorbRatio",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "massDryAdsorbRatio",
        "x": 1640,
        "y": 2000,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "d5fd7a1a430f5e92",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "massDryAdsorbRatio_avg",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.massDryAdsorbRatio_avg",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "massDryAdsorbRatio_avg",
        "x": 1650,
        "y": 2040,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "f17f737abe0f751f",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "LicorCO2Stat.integral",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.licorCO2_Stat.integral",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "licorCO2_Stat.integral",
        "x": 2040,
        "y": 560,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "fce3cc971d923a55",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "LicorH2OStat.mean",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.licorH2O_Stat.smoothed_value",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "licorH2O_Stat.mean",
        "x": 2030,
        "y": 420,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "db2f4e9db3de8328",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "LicorH2OStat.integral",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.licorH2O_Stat.integral",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "licorH2O_Stat.integral",
        "x": 2040,
        "y": 640,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "64ff463ee6a7625d",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "horibaCO2_Stat.integral",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.horibaCO2_Stat.integral",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "horibaCO2_Stat.integral",
        "x": 2040,
        "y": 600,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "e4da832d1c946c0e",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "licorCO2perJoule",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.licorCO2perJoule",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "licorCO2perJoule",
        "x": 2020,
        "y": 720,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "c63fa94280530527",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "horibaCO2perJoule",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.horibaCO2perJoule",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "horibaCO2perJoule",
        "x": 2030,
        "y": 760,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "d50ba2cadbb87045",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "H2OperJoule",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.H2OperJoule",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "H2OperJoule",
        "x": 2010,
        "y": 800,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "8fff42571c8ce063",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "totalDesorbedH2O",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.totalDesorbedH2O",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "totalDesorbedH2O",
        "x": 2030,
        "y": 680,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "9a4a2ee49ee881da",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "licorMassDesorbRatio",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.licorMassDesorbRatio",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "licorMassDesorbRatio",
        "x": 2040,
        "y": 840,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "46ae085ff304289c",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "horibaMassDesorbRatio",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.horibaMassDesorbRatio",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "horibaMassDesorbRatio",
        "x": 2040,
        "y": 880,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "8c777e93e10a5437",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "scale.weight",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.scale.weight",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "scale.weight",
        "x": 2010,
        "y": 520,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "68109adbac4f0fdc",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "DesorbEnergy(J)",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.magnaWatts_Stat.integral",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "DesorbEnergy(J)",
        "x": 2020,
        "y": 940,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "230b9e182f7dc704",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "adsorbCO2_StatMinus_licorCO2_Stat",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.adsorbCO2_StatMinus_licorCO2_Stat",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "adsorbCO2_StatMinus_licorCO2_Stat",
        "x": 2070,
        "y": 1700,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "b49f252cb53f8bad",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "adsorbCO2_avg_StatMinus_licorCO2_Stat",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.adsorbCO2_avg_StatMinus_licorCO2_Stat",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "adsorbCO2_avg_StatMinus_licorCO2_Stat",
        "x": 2079.4921875,
        "y": 1742.4765625,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "753512372fd9982f",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "dryAdsorbCO2_StatMinus_licorCO2_Stat",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.dryAdsorbCO2_StatMinus_licorCO2_Stat",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "dryAdsorbCO2_StatMinus_licorCO2_Stat",
        "x": 2079.4921875,
        "y": 1782.4765625,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "8a409ba0d1832a57",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "dryAdsorbCO2_avg_StatMinus_licorCO2_Stat",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.dryAdsorbCO2_avg_StatMinus_licorCO2_Stat",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "dryAdsorbCO2_avg_StatMinus_licorCO2_Stat",
        "x": 2089.4921875,
        "y": 1822.4765625,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "dccd98b1c99cb37e",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "adsorbCO2_StatMinus_horibaCO2_Stat",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.adsorbCO2_StatMinus_horibaCO2_Stat",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "adsorbCO2_StatMinus_horibaCO2_Stat",
        "x": 2069.4921875,
        "y": 1862.4765625,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "1f6802ab0dafa84a",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "adsorbCO2_avg_StatMinus_horibaCO2_Stat",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.adsorbCO2_avg_StatMinus_horibaCO2_Stat",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "adsorbCO2_avg_StatMinus_horibaCO2_Stat",
        "x": 2089.4921875,
        "y": 1902.4765625,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "fe2d990cba7c9a83",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "dryAdsorbCO2_StatMinus_horibaCO2_Stat",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.dryAdsorbCO2_StatMinus_horibaCO2_Stat",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "dryAdsorbCO2_StatMinus_horibaCO2_Stat",
        "x": 2089.4921875,
        "y": 1942.4765625,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "da8cb2956c9db539",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "dryAdsorbCO2_avg_StatMinus_horibaCO2_Stat",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.dryAdsorbCO2_avg_StatMinus_horibaCO2_Stat",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "dryAdsorbCO2_avg_StatMinus_horibaCO2_Stat",
        "x": 2099.4921875,
        "y": 1982.4765625,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "307550267a6917eb",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "adsorbH2O_StatMinus_licorH2O_Stat",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.adsorbH2O_StatMinus_licorH2O_Stat",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "adsorbH2O_StatMinus_licorH2O_Stat",
        "x": 2069.4921875,
        "y": 2022.4765625,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "8dbb5d516a7f9696",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "totalLicorCO2",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.totalLicorCO2",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "totalLicorCO2",
        "x": 2010,
        "y": 1000,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "28e301792568bba7",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "totalHoribaCO2",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.totalHoribaCO2",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "totalHoribaCO2",
        "x": 2020,
        "y": 1040,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "f461ada04ca24789",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "totalVaporH2O",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.totalVaporH2O",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "totalVaporH2O",
        "x": 2020,
        "y": 1080,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "3360983aaa118356",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "totalLiquidWeight",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.totalLiquidWeight",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "totalLiquidWeight",
        "x": 2020,
        "y": 1120,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "4eee129f887caf45",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "totalTotalH2O",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.totalTotalH2O",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "totalTotalH2O",
        "x": 2010,
        "y": 1160,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "26a36e31922c3fcc",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "purgeTotalH2O",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.purgeTotalH2O",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "purgeTotalH2O",
        "x": 2020,
        "y": 1400,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "40e3358baeb7679b",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "purgeLiquidWeight",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.purgeLiquidWeight",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "purgeLiquidWeight",
        "x": 2030,
        "y": 1360,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "0a5420d636de07d2",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "purgeLicorH2O",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.purgeLicorH2O",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "purgeLicorH2O",
        "x": 2020,
        "y": 1320,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "33418da2f27281b3",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "purgeHoribaCO2",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.purgeHoribaCO2",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "purgeHoribaCO2",
        "x": 2020,
        "y": 1280,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "136b015862fd50c9",
        "type": "ADS Notification",
        "z": "46b8d6a8be0dfa75",
        "name": "purgeLicorCO2",
        "datasource": "c9403085e49c4b86",
        "useIndex": false,
        "varName": "Main.benchScale.dacCalculation.purgeLicorCO2",
        "indexGroup": "",
        "indexOffset": "",
        "varTyp": "LREAL",
        "varSize": "",
        "varLowIndex": "",
        "varHighIndex": "",
        "isArray": false,
        "timezone": "UNCHANGED",
        "transmissionMode": "CYCLIC",
        "maxDelay": "500",
        "cycleTime": "500",
        "property": "payload",
        "topic": "purgeLicorCO2",
        "x": 2020,
        "y": 1240,
        "wires": [
            [
                "0c618177b1fecab3"
            ]
        ]
    },
    {
        "id": "c9403085e49c4b86",
        "type": "ads-connection",
        "host": "172.16.10.100",
        "clientIP": "172.16.42.44",
        "amsNetIdTarget": "5.91.185.6.1.1",
        "amsNetIdSource": "172.16.24.4.1.1",
        "port": "48898",
        "amsPortSource": "32905",
        "amsPortTarget": "851",
        "adsTimeout": "5000"
    },
    {
        "id": "76365a40ab441c2a",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "influxdb23",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb22:8086",
        "rejectUnauthorized": true
    }
]